
.more-pens
  position: fixed
  left: 20px
  bottom: 20px
  z-index: 10
  font-family: "Roboto"
  font-size: 12px

body
  margin: 0
  margin-top: 10%
  padding: 0
  overflow: hidden
  width: 100%
  height: 100%
  background: #000000

.more-pens
  position: fixed
  left: 20px
  bottom: 20px
  z-index: 10
  font-family: "Roboto"
  font-size: 12px

body
  margin: 0
  padding: 0
  overflow: hidden
  width: 100%
  height: 100%
  background: transparent


.title
  z-index: 10
  position: absolute
  left: 50%
  top: 50%
  height: 250px
  transform: translateX(-50%) translateY(-50%)
  font-family: "Roboto"
  text-align: center
  width: 100%
