html{
  font-family: 'Roboto', sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffd54f;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
}
.tab button:hover {
  background-color: #ffc107;
  transition: 0.5s;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffa000;
  transition: 0.5s;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
}

.vertical {
     border-left:1px solid #e0e0e0; 
     position:absolute;
     right:50%;
     top:10%;
     bottom: 10%;
}

.opentab {
  display: block;
}

.category-name{
  margin-left:10%;
}

.langinfo{
  width: 16.66%; 
  width: calc(100% / 6);
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow : ellipsis;
}

.domaine{
  width: 33.33%;
  width: calc(100% / 3);
}

.brand-logo{
   font-weight: 900;
}

nav{
  position: fixed;
  top:0%;
  z-index: 3;
}

.welcome{
  font-size: 3em;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 999;
  background-color:rgba(0,0,0,0.4);
  border-radius: 10px;
}

input{
  border-color: #ffc107 !important;
}

.icon{
  vertical-align: middle;
}

[type="submit"]{
  color: #1a237e;
    background-color: #c5cae9;
      
}
[type="submit"]:hover{
      color: #304ffe;
    background-color: #ffab00;
}
[type="submit"]:focus{
      color: #7986cb;
    background-color: #1a237e;
}


div.input-field .active{
  color: #304ffe;
}

.parallax-container{
  z-index: 0;
}

@media only screen and (max-width: 583px) {
.ancre {
    padding-bottom: 72px;
    margin-bottom: -56px;
}
}
@media only screen and (min-width: 584px) {
.ancre {
    padding-bottom: 80px;
    margin-bottom: -64px;
}
}

a.active{
  font-weight: 900;
}

nav ul li.active{
  background-color: white;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0)!important;
    text-shadow: 0 0 3px #283593!important;
}

nav ul a:hover {
    background-color: white;
    
}
body{
  position: relative;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

.proj{
  height: 100%;
  width: 100%;
  padding: 1% !important;
}

#lesprojets{
  padding: 0px !important;
}

.responsive-img{
  border-radius: 10px;
}

input[type="text"], textarea, input[type="email"]{
  color: white;
}
